@font-face {
    font-family: 'Departure Mono'; /*a name to be used later*/
    src: url('https://cdn.glitch.global/40dc22fe-288f-4d79-a045-20eb69e7abac/DepartureMono-Regular.otf?v=1725477606502'); /*URL to font*/
}

div#fullpage {
  background:red;
  height:100vh;
  margin:0px;
  padding:0px;
  overflow-x:hidden;
}