@font-face {
  font-family: "Departure Mono"; /*a name to be used later*/
  src: url("https://cdn.glitch.global/40dc22fe-288f-4d79-a045-20eb69e7abac/DepartureMono-Regular.otf?v=1725477606502"); /*URL to font*/
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div#fullpage {
  display: grid;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 150px 1fr 150px;
}

canvas#background{
  height:100%;
  width:100%;
  border:1px solid black;
  background: red;
  grid-area:  1 / 1 / / -1 / -1;
  z-index: -1;
  
}

div#infobox{
  place-self: center;
  border:1px solid black;
  z-index:1;
}
menu{
  border: 1px solid black;
  
}
