@font-face {
  font-family: "Departure Mono"; /*a name to be used later*/
  src: url("https://cdn.glitch.global/40dc22fe-288f-4d79-a045-20eb69e7abac/DepartureMono-Regular.otf?v=1725477606502"); /*URL to font*/
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div#fullpage {
  display: grid;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  overflow: hidden;
}

canvas#background {
  height: 100%;
  width: 100%;
  background: #16423c;
  opacity: 0.5;
  grid-area: 1 / 1 / 4 / 4;
  z-index: -1;
}

div#infobox {
  padding: 20px;
  font-family: Departure Mono;
  grid-area: 2 / 2 / 3 / 3;
  place-self: center;
  border: 8px solid #1a3636;
  border-radius: 10px;
  background: rgb(64, 83, 76, 0.72);
  height: 40%;
  width: 40%;
  z-index: 1;
  color: #d6bd98;
  overflow: auto;
  scrollbar-color: #677d6a #40534c;
}

#infobox a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits the color from the parent element */
  background: none; /* Removes any background */
  border: none; /* Removes any border */
  font-style: normal; /* Ensures normal font style */
  font-weight: normal; /* Ensures normal font weight */
  position: relative; /* Allows positioning of pseudo-element */
  color: inherit; /* Inherit color or set explicitly */
  text-decoration: 3px underline;
  text-underline-offset: 8px;
}

#infobox a:hover {
  background-color: #16423c; /* Pastel color with transparency */
  color: #c4dad2;
  opacity: 1;
}

menu {
  border: none;
  grid-area: 1 / 3 / 4 / 4;
  height: 0%;
  width: 0%;
  z-index: 1;
}

ul {
  list-style: none;
  padding: 0px;
}

div.socials li {
  padding-bottom: 10px;
}

div.socials li:before {
  content: "\2514";
  padding: 2%;
}

#theme-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.3s;
  z-index: 10; /* Ensure the button is above other content */
}

#theme-toggle:hover {
  background-color: #555555;
}